[Unit]
Description=Graphite's caching to redis service.
After=multi-user.target

[Service]
Type=simple
ExecStart=/media/sf_centos7/kujira-api/kujira/graphite_daemon/lib/graphitescript


[Install]
WantedBy=multi-user.target

